* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  padding-bottom: 100px;
  display: block;
  position: relative;
}
/* some styling for the footer */
.footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer-nav {
  background-color: beige;
  border-top: 1px solid;
  text-align: center;
  /* position: fixed; */
  height: 60px;
  width: 100%;
  list-style-type: none;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

/* Some styling for the header */
.header {
  background-color: gray;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  width: 100%;
}
.name {
  text-align: left;
  flex: 1;
  padding-left: 1rem;
}
.header-nav {
  background-color: gray;
  flex: 1;
  text-align: right;
}
.header-list {
  font-size: large;
  font-weight: bold;
}

li {
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
}

.navActive {
  color: #fafafa;
}

/* styling for portfolio */
.Portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.Project-name {
  text-align: center;
}

.Project {
  overflow: hidden;
  /* object-fit: cover; */
  width: 200px;
  height: 210px;
}

.project-images {
  border: solid;
  width: 200px;
  height: 120px;
}

/* styling for the About me page */

.description {
  padding-left: 20px;
  padding-right: 20px;
}

/* styling for Contact page*/

.contact-section {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; */
}

.contact-me {
  padding-left: 20px;
}
#contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
label {
  height: 20px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: right;
  margin-right: 15px;
  float: left;
}

input {
  height: 20px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 10px;
}
textarea {
  height: 150px;
  width: 300px;
  border: 1px solid #000;
  margin-top: 10px;
  resize: none;
}

@media (max-width: 1050px) {
  #contact-form {
    text-align: center;
  }
  label {
    float: none;
    margin: none;
    text-align: none;
  }
  input {
    width: 200px;
  }
  textarea {
    width: 200px;
  }
}
/* styling for very small screens */
@media (max-width: 450px) {
  .Portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
}

@media (max-width: 280px) {
  #contact-form {
    height: 250px;
  }
  input {
    height: 20px;
    width: 150px;
  }
  textarea {
    height: 75px;
    width: 150px;
  }
}
